# backend
# BACKEND_IMAGE=__BACKEND_IMAGE__
CACHE_URL=locmem://
DATABASE_URL=postgres://postgres:postgres@postgres:5432/connect
DJANGO_ADMINS=admin,errors@example.org
DJANGO_ALLOWED_HOSTS=localhost,backend
DJANGO_CONFIGURATION=Local
DJANGO_DEBUG=True
DJANGO_DEFAULT_FROM_EMAIL=info@example.org
DJANGO_DISABLE_SERVER_SIDE_CURSORS=False
DJANGO_SCOPUS_API_KEYS=__SCOPUS_API_KEYS__
DJANGO_SCOPUS_INST_TOKEN=__SCOPUS_INST_TOKEN__
DJANGO_SECRET_KEY=__SECRETKEY__
DJANGO_SERVER_EMAIL=server@example.org
DJANGO_SESSION_COOKIE_DOMAIN=localhost
DJANGO_SUPERUSER_EMAIL=info@example.org
DJANGO_SUPERUSER_PASSWORD=connect
DJANGO_SUPERUSER_USERNAME=${USER}
EMAIL_URL=console:///
PYTHONBREAKPOINT=IPython.core.debugger.set_trace
# frontend
# You can override the following variables
# FRONTEND_IMAGE=__FRONTEND_IMAGE__
# PROJECT_URL=https://localhost:8443
# INTERNAL_BACKEND_URL=http://backend:8000
# REACT_ENVIRONMENT=Development
# orchestrator
COMPOSE_FILE=docker-compose.yaml:./docker-compose/local.yaml:./docker-compose/postgres.yaml
# traefik
BASIC_AUTH=__BASIC_AUTH__
LETSENCRYPT_EMAIL=__LETSENCRYPT_EMAIL__
PROJECT_HOST=__PROJECT_HOST__
